<div *ngIf="product">

  <h3>Edit product</h3>

  <p>ID {{product.id}}</p>

  <p>
    <label for="inputName">Name</label>
    <input id="inputName" [(ngModel)]="product.name"/>
  </p>

  <p>
    <label for="inputDescription">Description</label>
    <input id="inputDescription" [(ngModel)]="product.description"/>
  </p>

  <p>
    <label for="inputPrice">Price</label>
    <input id="inputPrice" [(ngModel)]="product.price"/>
  </p>

  <p>
    <button type="button" class="btn btn-danger" (click)="goBack()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="edit()">Edit</button>
  </p>
</div>
